language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"
before_install:
  - npm install coveralls
  - npm install mocha-lcov-reporter
script: npm run-script coveralls
branches:
  only:
    - master
